.dashboard-container {
  display: flex;
  min-height: 100vh;
}
.main-content {
  flex-grow: 1;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
}
.content {
  padding: 20px !important;
}

/* Sidebar Css */
.main-sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  .sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    background-color: var(--secondary-color);
    color: var(--white);
    border-radius: 26px;
    padding: 20px;
    h2 {
      font-size: 26px;
      margin-bottom: 18px;
    }
    button {
      background-color: var(--white);
      color: var(--secondary-color);
      font-size: 15px;
      padding: 11px 14px;
      border-radius: 12px;
      border: 1px solid var(--white);
      width: 100%;
      font-weight: 500;
      transition: all 0.3s ease;
      svg {
        font-size: 20px;
      }

      &:hover {
        transition: all 0.3s ease;
        background-color: var(--secondary-color);
        color: var(--white);
      }
    }
  }
}
.side-menus {
  width: 100%;
  ul {
    margin: 0px;
    padding: 0px;

    li {
      list-style: none !important;
      margin-bottom: 12px;
      a {
        outline: none;
        display: block;
        font-size: 15px;
        color: var(--white);
        text-decoration: none;
        padding: 12px 14px;
        border-radius: 12px;
        transition: all 0.3s ease;
        &:hover {
          transition: all 0.3s ease;
          background-color: var(--white);
          color: var(--secondary-color);
        }
        .icon {
          margin-right: 10px;
          font-size: 18px;
        }
      }
      a.active {
        background-color: var(--white);
        color: var(--secondary-color);
      }
    }
  }
}

/* Header Css */
.main-header {
  color: var(--secondary-color);
  padding: 20px;

  h2 {
    font-weight: 700;
  }
}
.top-bar {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;

  svg {
    border: 1px solid #686868;
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    fill: var(--white);
    background-color: var(--secondary-color);
    &:hover {
      transition: all 0.3s ease;
      fill: var(--secondary-color);
      background-color: #0000;
      cursor: pointer;
    }
  }
  .dropdown {
    button {
      outline: none;
      border: 0px;
      background-color: #0000;
      img {
        width: 40px;
        height: 40px;
        border-radius: 100px;
        border: 1px solid #000;
      }
    }
  }
}

.account-status {
  background-color: var(--secondary-color);
  border-radius: 26px;
  padding: 20px 28px;
  color: var(--white);
  h3 {
    font-weight: 600;
    font-size: 30px;
    margin: 0px;
  }
  p {
    margin: 0px;
    font-size: 14px;
  }
  button {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: solid 1px var(--white);
    border-radius: 10px;
    padding: 8px;
    margin-top: 16px;
    transition: all 0.3s ease;
    &:hover {
      transition: all 0.3s ease;
      background-color: var(--secondary-color);
      color: var(--white);
    }
  }
  .progressbar {
    height: 20px;
    width: 100%;
    background-color: #404040;
    border-radius: 12px;
    margin: 20px 0px;
    .progress {
      background-color: var(--primary-color);
      height: 100%;
      width: 75%;
      border-radius: 100px;
    }
  }
}

.box-number {
  background-color: var(--third-color);
  border-radius: 26px;
  padding: 20px;
  svg {
    font-size: 28px;
    cursor: pointer;
  }
  h2 {
    font-weight: bold;
  }
  p {
    font-size: 14px;
    margin: 0px;
  }
}

.invoice-sec {
  margin-top: 24px;
  background-color: var(--third-color);
  border-radius: 26px;
  padding: 30px 20px;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h5 {
    font-weight: 700;
    font-size: 22px;
  }
  h2 {
    font-size: 56px;
    font-weight: bold;
    margin: 0;
  }
  .success-tab {
    span {
      background-color: #b9d6c8;
      color: #5f9d57;
      padding: 4px 10px;
      border-radius: 8px;
    }
  }
  .danger-tab {
    span {
      background-color: #d8bfcc;
      color: #ae4155;
      padding: 4px 10px;
      border-radius: 8px;
    }
  }
}


.revenue-widget{
  margin-top: 24px;
  background-color: var(--third-color);
  border-radius: 26px;
  padding: 20px;
  h4{
    font-weight: 700;
    font-size: 22px;
  }
  p {
    font-size: 14px;
  }
}