* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", serif !important;
}
:root {
  --primary-color: #dfecf1;
  --secondary-color: #1c1c1c;
  --third-color: #bae0f1;
  --white: #fcfcfc;
}
body {
  overflow-x: hidden;
  font-family: "Poppins", serif;
  background-color: var(--primary-color) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", serif !important;
}

button,
a,
p,
span {
  font-family: "Poppins", serif !important;
}

canvas {
  font-family: "Poppins", serif !important;
}
